@use "../base/variables" as v;
@use "../base/mixins" as m;

.profile-section{
    .title{
        font-size: 1.3rem;
        font-weight: bolder;
        border-bottom: 1px solid v.$black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            margin-bottom: 5px;
        }
        .require-data-message{
            color: v.$red;
            font-size: .6rem;
        }
    }
}