@use "../base/variables" as v;
@use "../base/mixins" as m;

.add-address-link{
    color: v.$black;
}
.account__details{
    .title{
        font-size: 1.3rem;
        font-weight: bolder;
        border-bottom: 1px solid v.$black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        p{
            margin-bottom: 5px;
        }
        .require-data-message{
            color: v.$red;
            font-size: .6rem;
        }
    }

    .pagination__container{
        width: fit-content;
        margin: 0 auto;
    }
}
.profile-section{
    .profile-image-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @include m.tablet{
            flex-direction: row;
        }
        figure{
            height: 100px;
            width: 100px;
            img{
                height: 100%;
                width: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
    .boton{
        float: right;
        @include m.btnCartTable(v.$green, v.$white);
        padding: 5px 45px;
        &:hover{
            background-color: v.$dark-green;
            color: v.$white;
        }
    }

    .direcciones{
        li>form{
            display: flex;
            gap: 3px;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1px solid;
        }
    }
    &.delete-account__container, &.unsuscribe-newsletter__container{
        form{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 10px;

            @include m.tablet{
                flex-direction: row;
                align-items: center;

                .input__container{
                    width: 35%;
                }
            }
        }
    }
}

