@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color" as color;

.btn-modify{
    @include m.btn(v.$blue, v.$white);
    border-radius: 0.4rem;
    padding: 10px 15px;
}

.btn-add{
    @include m.btn(v.$green, v.$white);
    border-radius: 0.4rem;
    padding: 10px 15px;
}

.btn-delete{
    @include m.btn(v.$red, v.$white);
    border-radius: 0.4rem;
    padding: 10px 15px;
}

.btn-back{
    @include m.btn(v.$dark-green, $white);
    border-radius: 0.4rem;
    padding: 10px 15px;
}

.btn-outline-green{
    @include m.btn-outline(v.$white, v.$green);
}

.toggler-admin{
    background-color: transparent;
    color: v.$white;
}
#btnBack{
    display: none;
    z-index: 1;
    position: fixed;
    top: 90vh;
    right: 30px;
    margin: 0 auto;
    background-color: v.$green;
    opacity: .5;
    padding: 10px 15px;
    border-radius: 50%;
    border: none;  

    &:hover{
        background-color: v.$green;
        opacity: 1;
    }
    .bi{
        color: v.$white;
        font-weight: bolder;
    }
}

.pedido__container{
    button{
        @include m.btnCartTable(v.$green, v.$white);
        &:hover{
            background-color: v.$dark-green;
            color: v.$white;
        }
    }
}

.btn-delete-to-cart{
    opacity: .3;
    &:hover{
        cursor: pointer;
        opacity: 1;
        color: v.$green;
    }
}