@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color" as color;

/*LIBROS CONTAINER*/
.libros__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-content: center;
    gap: 20px;
    .card{
        justify-content: center;
        position: relative;
        text-align: center;
        transition: transform 500ms ease;
        gap: 10px;
        overflow: hidden;
        .libro__info{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 5px;
            text-align: left;

            .libro__precio{
                font-size: 1.5rem;
                color: v.$green;
            }
            .libro__titulo{
                font-size: 1rem;
                font-weight: bolder;
            }
            .libro__autor{
                font-size: 0.8rem;
            }
        }

        &:hover{
            transform: scale(1.05);
        }

        form{
            position: absolute;
            bottom: 0;
            width: 90%;
            border-radius: 0.7rem;
            transform: translateY(101%);
            transition: transform 1s ease;
        }
        .boton{
            @include m.btn(v.$green, v.$white);
            width: 100%;

            &:hover{
                background-color: color.scale(v.$green, $lightness: -30%);
            }

            &:disabled{
                background-color: color.scale(v.$green, $lightness: 60%);
            }
        }
        &:hover form{
            transform: translateY(0%);
            margin-bottom: 20px;
        }
        span{
            position: absolute;
            bottom: 0;
            transform: translateY(101%);
            transition: transform 1s ease;
        }
        &:hover span{
            transform: translateY(0%);
            margin-bottom: 20px;
        }
}
}