@import "base";
@import "resetBS";
@import "navbar";
@import "carousel";
@import "home";
@import "cards";
@import "pagination";
@import "offcanvas";
@import "buttons";
@import "tables";
@import "libro";
@import "formularios";
@import "blog";
@import "footer";


@import "fontawesome-all.scss";
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';
// @import "datatables.min";