@use "../base/variables" as v;
@use "../base/mixins" as m;

/*NAVBAR ADMIN*/
.navbar-admin{
    background-color: v.$nav-dark;
    box-shadow: 0px 0px 15px 0px green;

    .btn-toggler{
        color: v.$white;
        font-size: 1.5rem;
        &:hover{
            cursor: pointer;
        }
    }
}