@use "../base/variables" as v;

.changeMode__container{
    li.active{
        background-color: v.$green;
        &>button{
            color: v.$white;
        }
    }
    li:not(.active):hover{
        background-color: v.$green;
        opacity: .5;
    }
    .dropdown-menu{
        left: auto;
    }

}