@use "../base/variables" as v;
@use "../base/mixins" as m;

.blog-main-content{
    background-color: v.$bg-dark-green;
    h1{
        color: v.$white;
        text-align: center;
        @include m.title-border(v.$white);
        width: fit-content;
        margin: 0 auto;
    }
}
.resenas__container{
    .resenas{
        padding: v.$separation 0;
        color: v.$white;
    
        &__grid{
            margin: 0 auto;
            margin-top: v.$separation;
            @include m.grid(1, 10px);
            @include m.tablet{
                @include m.grid(2, 10px);
            }
            @include m.desktop{
                @include m.grid(3, 25px);
            }
        }
    
        .resena{
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            a{
                position: absolute;
                display: inline;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
            figure{
                overflow: hidden;
                flex-grow: 1;
            }
            img{
                transition: transform 1s;
                height: 100%;
            }
            &:hover{
                cursor: pointer;
            }
            &:hover img{
                transform: scale(1.2);
                filter: brightness(0.5);
            }
            figure, img{
                margin: 0;
                width: 100%;
            }
            &__info{
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 10px;
                background-color: v.$black-card;
    
                &__publicacion{
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.8rem;
                }
            }
        }
    }
}