@use "../base/variables" as v;
//Formularios
$input-btn-padding-y:         .375rem;
$input-btn-padding-x:         .75rem;
$input-btn-focus-width:         .08rem;
$input-btn-focus-color-opacity: .25;
$input-btn-focus-color: v.$boder-input;
$input-btn-focus-blur:          0;
$input-btn-focus-box-shadow:    0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color;