@use "sass:color";

@font-face{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
    src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face{
    font-family: "Work Sans";
    src: url("../fonts/WorkSans-Regular.ttf");
}

//Colores
$green: #219250;
$dark-green: #0F7238;
$bg-dark-green: #004025;
$white: #fff;
$black: #111111;
$black-card: #252525;
$boder-input: #85e1ab;
$nav-dark: #1f1f1f;
$blue: #5796e8;
$red: #c80f0f;
$gold: #a7aa00;
$sidebar-bg: #212529;

//Anchura sidebar
$sidebar-width: 280px;

// Separación
$separation: 5rem;


// //RESETEO BOOTSTRAP
// // NAV
// $navbar-light-color: $white; /*Color de los nav links*/
// $navbar-light-hover-color: $white;
// // $navbar-light-toggler-icon-bg: "url('uploads/toggler.svg')"; //Imagen del toggler
// $navbar-toggler-focus-width: 0; //Borde del ancho cuando se pulsa el toggler
// $navbar-light-toggler-border-color: transparent; //Borde del toggler

// //DROPDOWN
// $dropdown-link-hover-bg: $dark-green;
// $dropdown-link-hover-color: $white;

// // PAGINATION
// // $pagination-focus-bg: $green;
// $pagination-active-bg: $green;
// $pagination-border-color: $dark-green;
// $pagination-color: $green;
// $pagination-hover-color: $white;
// $pagination-hover-bg: $dark-green;
// $pagination-hover-border-color: $white;
// $pagination-active-border-color: $boder-input;
// $pagination-focus-color: $green;

// //Formularios
// $input-btn-padding-y:         .375rem;
// $input-btn-padding-x:         .75rem;
// $input-btn-focus-width:         .08rem;
// $input-btn-focus-color-opacity: .25;
// $input-btn-focus-color: $boder-input;
// $input-btn-focus-blur:          0;
// $input-btn-focus-box-shadow:    0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color;
// // $form-select-border-color: $dark-green;
// // $form-select-focus-border-color: $dark-green;
// // $form-select-bg: green;


// //Inputs
// $input-border-color: $boder-input;
// $input-focus-border-color: $boder-input;

// // Table
// $table-bg: color.scale($green, $lightness: 70%);
// $table-striped-bg: color.scale($green, $lightness: 60%);

//Tamaños
$tamNavIcon: 25px;
$tam-nav: 1.1rem;
$tam-footer-icon: 20px; 

//Tamaños media-queries
$small: 480px;
$medium: 768px;
$big: 1024px;

//Fuentes
$main_font: "Montserrat";
$second_font: "Work Sans"
